.accordion {
    width: -webkit-fill-available;
    width: fill-available;
    float: left;
}
.accordion .accordion_item {
    margin-bottom:1px;
    position:relative;
    border-bottom:1px solid #eaeaea ;
    padding-left: 38px;
}
.accordion .title_block:first-child {
    padding-top: 2px;
}
.accordion .title_block {
    font: 17.3px 'SFUIDisplay-Semibold';
    color: #000;
    cursor:pointer;
    -o-transition:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    transition:all .2s linear 0s;
    position: relative;
    padding: 4px 0 1px;
}
.accordion .title_block:before {
    content: url('../img/qa-arrow.png');
    height: 27px;
    text-align: center;
    width: 27px;
    border:1px solid #ececec;
    border-radius: 25px;
    position:absolute;
    right:22px;
    top:-3px;
}
.accordion_item:hover .title_block:before {
    border-color: #fbd402 ;
    background: #fbd402;
    transition:all .5s ease 0s;
    -webkit-transition:all .5s ease 0s;
    -moz-transition:all .5s ease 0s;
    -o-transition:all .5s ease 0s;

}
.accordion_item.open .title_block:before {
    background: #fbd402;
    transform: rotate(-180deg);
    border-color: #fbd402 ;
}
.accordion .info-accord {
    overflow: hidden;
    position: relative;
    max-height: 0;
    transition: all .3s ease;
}
.accordion_item.open .info-accord {
    max-height: 1330px;
}
.info-accord .article {
    padding-bottom: 20px;
}
.accordion .info-accord p,
.info-accord ul,
.info-accord ol {
    margin: 0;
}
.say-question {
    float: right;
    padding: 22px 15px 0 0;
}
.say-question span {
    font: 13px 'SF-UI-Display-Light';
    color: #8b9095;
    padding-right: 33px;
}
.say-question a {
    background: #fbd402;
    border-radius: 25px;
    padding: 9px 25px;
    font: 14px 'SFUIDisplay-Medium';
    color: #313e49;
}
.enter {
    display: none;
}

.watched-slider .slick-slide img {
    width: auto;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}
/*-----pop-up-----*/
/*#popup {*/
.popup-question {
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.close-question {
    width: 100%;
    height: 100%;
    z-index: 90;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
}
.popup-inner {
    top: 20%;
    position: relative;
    width: 700px;
    background: #fff;
    height: 400px;
    padding: 10px 23px 43px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 95;
}
.popup-inner .liner {
    font-size: 23px;
    line-height: 43px;
}
#popup .close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 30px;
    right: 27px;
    left: auto;
    background: none;
    cursor: pointer;
}
 .popup-block {
    width: 48%;
    padding-left: 7px;
    display: inline-block;
}
#popup .popup-block:last-child {
    width: 49%;
    text-align: right;
    padding-left: 5px;
}
#popup .popup-block:last-child p {
    padding: 0 0 6px 41px;
}
.popup-block p {
    font: 14px 'SFUIDisplay-Medium';
    color: #aaadb1;
    text-transform: uppercase;
    padding: 20px 0 6px 24px;
    margin: 0;
    text-align: left;
    width: 100%;
}
.popup-block textarea {
    font: 13px 'SFUIDisplay-Bold';
    color: #313e49;
    padding: 13px 22px;
    border: 1px solid #ececec;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 82%;
    margin-bottom: 11px;
    overflow: auto;
}
.popup-block select {
    display: block;
}
.popup-block select,
.popup-block input{
    font: 14px 'SFUIDisplay-Bold';
    color: #313e49;
    padding: 11px 22px;
    border: 1px solid #ececec;
    background-color: #f9f9f9;
    border-radius: 25px;
    width: 83%;
    margin-bottom: 11px;
}

.popup-question .numb {
    font-family: sans-serif;
    font-weight: 700;
}

.popup-block .button {
    cursor: pointer;
    background: #fbd402;
    width: 95%;
    font: 17px 'SFUIDisplay-Medium';
    margin-top: 33px;
}