@media screen and (max-width: 1441px) {
    .head-item:nth-child(2) {
        padding: 0 55px;
    }
    .next-menu ul li a {
        font-size: 15px;
    }

    .most-item-slider .most-item:nth-child(1) {
        width: 46%;
    }

    .hasl {
        height: 100%;
    }

    .hasl .slick-dots {
        bottom: 25px;
    }

    .hasl .slick-list {
        height: 100%;
    }

    .hasl .slick-track {
        height: inherit;
    }

    .ityy {
        width: 100%;
    }

    .left-iteem {
        width: 285px;
    }

    .right-iteem {
        width: calc(100% - 325px);
    }

    .home-page .itee-imgg img {
        width: 100%;
    }

    .most-item:nth-child(2),
    .most-item:nth-child(3) {
        margin-left: 50px;
    }

    .news {
        left: 20px;
    }

    .left-butt a, .right-butt a {
        margin: 0 0 0 30px;
    }

    .maii .item-senn:nth-child(2) {
        height: 860px;
    }

    .left-bakk p:nth-child(2) {
        font-size: 12px;
    }

    .bask {
        width: 100px;
        height: 35px;
        font-size: 12px
    }

    .right-times {
        margin: 0 0 0 10px;
    }

    .owl {
        width: calc(100% - 250px);
    }

    .owl .items > img {
        width: 100%;
    }

    .formu {
        width: 250px;
        height: 285px;
        padding: 20px;
    }

    .formu .liner {
        font-size: 14px;
    }

    .sendy {
        margin: 15px 0 0;
    }

    .orig-item {
        width: calc(25% - 80px);
        width: -moz-calc(25% - 80px);
        width: -webkit-calc(25% - 80px);
        padding: 0 40px;
    }

    .orig-item p {
        margin: 0 0 0 25px;
    }

    .item-score:nth-child(1) {
        width: 330px;
        font-size: 20px;
    }

    .item-score:nth-child(2) {
        font-size: 17px;
    }

    .item-score:nth-child(2) span {
        font-size: 45px;
    }

    .item-score:nth-child(3) {
        width: 530px;
    }

    .item-score:nth-child(3) .inpp {
        margin: 0;
        width: 100%;
    }

    .item-foot:nth-child(1) p {
        font-size: 16px;
    }

    .item-foot:nth-child(1),
    .item-foot:nth-child(2),
    .item-foot:nth-child(3) {
        margin: 0 100px 0 0;
    }

}

@media screen and (max-width: 1367px) {
    .main-menu ul li a {
        font-size: 15px;
    }
    .next-menu ul li a {
        font-size: 13px;
    }
    .next-menu ul li:nth-child(1) a:after,
    .next-menu ul li:nth-child(2) a:after {
        left: -30px;
        background-size: 21px;
        top: -6px;
    }

    .next-menu ul li:nth-child(3) a:after {
        left: -30px;
        background-size: 18px;
        top: -6px;
    }

    .next-menu ul li:nth-child(4) a:after {
        left: -30px;
        background-size: 14px;
        top: -6px;
    }
    .head-item:nth-child(3) {
        width: 370px;
    }

    .iteem:nth-child(2) .inpp {
        width: 90%;
    }
}

@media screen and (max-width: 1281px) {
    .head-item .inpp input {
        padding: 10px 0 11px 27px;
    }

    .send {
        height: 38px;
    }
    .head-item:nth-child(2) {
        padding: 0 30px;
    }
    .head-item:nth-child(3) {
        width: 365px;
    }

    .next-menu ul li a {
        font-size: 13px;
    }

    .next-menu ul li:nth-child(1) a:after,
    .next-menu ul li:nth-child(2) a:after,
    .next-menu ul li:nth-child(3) a:after,
    .next-menu ul li:nth-child(4) a:after {
        left: -27px;
    }

    .maii .item-senn:nth-child(2) .sench,
    .sench {
        width: calc(100% - 20px);
        padding: 20px 10px;
    }

    .news a {
        font-size: 12px;
    }

    .right-butt a {
        margin: 0 0 0 15px;
    }

    .left-butt a {
        margin: 0 0 0 20px;
    }

    .circ {
        height: 35px;
        width: 35px;
    }

    .timer {
        font-size: 12px;
        width: 200px;

    }

    .timm:nth-child(1) {
        margin: 0 2px 0 0;
    }

    .timm {
        margin: 0 2px;
    }

    .items h4 {
        font-size: 15px;
    }

    .owl .items {
        margin: -20px 25px 0 0;
    }

    .crop-item {
        width: calc(33.33% - 50px);
        width: -webkit-calc(33.33% - 50px);
        width: -moz-calc(33.33% - 50px);
        margin: 47px 25px 0;
    }

    .item-score:nth-child(1) {
        font-size: 18px;
    }

    .item-score:nth-child(3) {
        width: 420px;
    }

    .item-foot:nth-child(1), .item-foot:nth-child(2), .item-foot:nth-child(3) {
        margin: 0 70px 0 0;
    }
}

@media screen and (max-width: 1150px) {
    .accordion .title_block {
        font-size: 15px;
    }

    .accordion .info-accord p {
        font-size: 13px;
    }

    .accordion .info-accord a {
        font-size: 13px;
    }

    .say-question span {
        font-size: 11px;
    }
}

@media screen and (max-width: 1025px) {
    .wrap {
        width: 97%;
    }

    .head-item:nth-child(1) {
        width: 20%;
        padding-right: 20px;
    }

    .head-item:nth-child(1) img {
        width: 100%;
    }

    .head-item:nth-child(1) span,
    .head-item:nth-child(2),
    .your,
    .time-work,
    .most-item-slider .most-item:nth-child(2),
    .most-item-slider .most-item:nth-child(3),
    .most-item-sale .most-item:nth-child(3),
    .most-item-sale .most-item:nth-child(4) {
        display: none;
    }

    .head-item:nth-child(3) {
        width: 80%;
        margin: auto 0;
    }

    .iteem:nth-child(1) {
        height: 55px;
        width: 70px;
        display: flex;
        background: #313e49;
        color: #fff;
        font-size: 22px;
        text-transform: uppercase;
        font-family: 'SFUIDisplay-Bold';
        cursor: pointer;
        position: relative;
        z-index: 20;

    }

    .bask-item .numeral {
        top: -1px;
    }

    .burgerBtn {
        display: block;
        width: 25px;
        height: 18px;
        background: transparent;
        border: 0;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 22px;
        cursor: pointer;
        z-index: 1;
    }

    .burgerBtn span {
        width: 25px;
        height: 2px;
        background: #fff;
        display: block;
        margin-top: 8px;
    }

    .burgerBtn span::before {
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }

    .burgerBtn span::after {
        content: '';
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .burgerBtn span {
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .burgerBtn span::before, .burgerBtn span::after {
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        -ms-transition: all .6s;
        -o-transition: all .6s;
        transition: all .6s;
    }

    .mobile-menu .burgerBtn span {
        background: transparent;
    }

    .mobile-menu .burgerBtn span::before {
        transform: rotate(-45deg);
        top: 6px;
    }

    .mobile-menu .burgerBtn span::after {
        transform: rotate(45deg);
        top: 6px;
    }

    .base-menu ul {
        position: relative;

    }

    .item-base {
        height: 55px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
        transition-delay: .3s;
        overflow: visible;
    }

    .base-menu {
        /*.home-page .base-menu {*/
        position: absolute;
        top: 55px;
        left: 0;
        width: 357px;
        display: block !important;
        right: 0;
        height: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, height .5s;
        -webkit-transition: max-height 0.5s, height .5s;
        -moz-transition: max-height 0.5s, height .5s;
        -webkit-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.25);
        box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.25);
        border-left: 1px solid #efefef;
        /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    }

    .base-menu ul li:hover {
        background: transparent;
    }

    .base-menu ul.categ-menu li a {
        letter-spacing: 0.2px;
    }

    .base-menu ul li.active a.menu-one {
        color: #fbd402;
    }

    .base-menu ul li a:after {
        content: none;
    }

    .base-menu ul.categ-menu li a:after {
        right: 23px;
        transform: rotate(90deg);
        transition-duration: .2s;
    }
    .base-menu ul.categ-menu li.active a:after {
        transform: rotate(270deg);
    }

    .base-menu ul.mob-next-menu li {
        background: #fff;
    }

    li.active .menu-0 {
        height: auto;
        left: 0;
        top: 0;
        width: auto;
        color: #313e49;
        text-transform: none;
    }

    .base-menu ul.menu-0 li:first-child {
        padding-top: 13px;
    }
    .base-menu ul.menu-0 li a {
        height: 41px;
        list-style-type: circle;
        text-transform: none;
        font-size: 14px;
        padding: 0 0 0 54px;
        font-family: SF-UI-Display-Light;
    }

    .base-menu ul.menu-0 li a::after {
        background: none;
    }
    .base-menu ul.menu-0 li a::before {
        content: '•';
        position: relative;
        left: -30px;
    }

    li.active ul.menu-0 li a:active {
        color: #fbd402;
    }

    .menu-0 {
        height: auto;
        width: auto;
        left: 0;
    }

    .iteem:hover .item-base .base-menu ul {
        opacity: 1;
        transition-delay: 0s;
    }

    .mob-next-menu,
    .mob-main-menu,
    .mob-social {
        display: block;
    }

    .mob-next-menu {
        padding: 16px 0 21px;
        border-bottom: 1px solid #efefef;
    }

    .mob-next-menu ul li {
        padding: 16.6px 0 16.6px 61px;
    }
    .mob-next-menu ul li a {
        position: relative;
        font-size: 16px;
        text-transform: none;
        transition: .2s;
    }

    .mob-next-menu ul li:active a {
        color: #fbd402;
    }

    .base-menu ul.categ-menu li:hover {
        background: #fff;
    }

    .mob-next-menu ul li:active {
        background: #f9f9f9;
        list-style-type: none;
    }

    .mob-next-menu ul li a:after {
        position: absolute;
        left: -43px;
        top: -2px;
        height: 25px;
        width: 25px;
        content: ''
    }
    .mob-next-menu ul li:nth-child(1) a:after {
        background: url(../img/menu1.png) center no-repeat;
    }

    .mob-next-menu ul li:nth-child(2) a:after {
        background: url(../img/menu2.png) center no-repeat;
    }

    .mob-next-menu ul li:nth-child(3) a:after {
        background: url(../img/menu3.png) center no-repeat;
    }

    .mob-next-menu ul li:nth-child(4) a:after {
        background: url(../img/menu4.png) center no-repeat;
    }

    .mob-main-menu {
        padding: 48px 0;
        margin-left: -17px;
    }
    .mob-main-menu ul li {
        text-align: center;
        padding: 14px 0;
    }
    .mob-main-menu ul li a {
        font-size: 17px;
        text-transform: none;
        color: #969a9d;
        transition: .2s;
    }
    .mob-main-menu ul li:active a {
        color: #333e48;
    }

    .mob-social {
        text-align: center;
    }
    .mob-social p {
        font-size: 15px;
        text-transform: none;
        margin: 0;
        padding-bottom: 8px;
        letter-spacing: 0.2px;
        font-family: SFUIDisplay-Bold;
    }

    .mob-social .link {
        justify-content: center;
        margin: 0 13px 0 0;
    }

    .mobile-menu .base-menu {
        max-height: 2000px;
        height: 1400px;
        /*max-height: 1000px;*/
        /*height: 640px;*/
    }

    .base-menu ul.mob-next-menu li {
        background: #fff;
    }
    .base-menu ul.mob-next-menu li:hover {
        color: #fbd402;
    }

    .info,
    .city {
        margin: 0;
    }

    .info > .inpp {
        display: none;
    }

    .header-visible {
        display: inline-block;
    }

    .kiev,
    .numbers {
        vertical-align: super;
        font-size: 16px;
    }

    .name-info > .inpp {
        display: flex;
        margin: -5px 0 0px 0;
    }

    .name-info .inpp input {
        width: 200px;
        padding: 10px 0 10px 15px;
    }

    .inpp {
        margin: 0;
    }

    .menu {
        height: 55px;
    }

    .send {
        height: 37px;
    }

    .iteem:nth-child(2) {
        width: 30%;
    }

    .katal {
        display: none;
    }

    .searc {
        height: 37px;
    }

    .iteem:nth-child(2) .inpp {
        width: 100%;
    }

    .iteem:nth-child(2) .inpp input {
        width: 90%;
        margin: 0;
        padding: 10px 0 10px 15px;
        font-size: 13px;
    }

    .hasl {
        height: auto;
    }

    .ourr {
        width: -moz-fill-available;
        width: -o-fill-available;
        width: fill-available;
        width: -webkit-fill-available;
        margin: 27px auto 0;

    }

    .ourr .slick-prev,
    .ourr .slick-next {
        position: absolute;
        top: auto;
        bottom: -5px;
        z-index: 10;
    }

    .ourr .slick-next {
        right: 2px;
    }

    .ourr .slick-prev {
        left: 2px;
    }

    .ourr .slick-slide {
        height: -webkit-fill-available;
        height: fill-available;
        height: -o-fill-available;
        height: -moz-fill-available;
        position: relative;
        margin: 0 auto;

    }

    .most-item-slider .most-item:nth-child(1) {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }


    .igyy img {
        width: inherit;
    }

    .igyy .khob:after {
        right: 17px;
    }


    .slick-prev, .slick-next {
        display: inline-block !important;
    }

    .most-item-sale .most-item {
        height: auto;
        width: 48%;
        position: relative;
        display: flex;
        justify-content: space-around;
        background: #f5f5f5;
    }

    .most-item-sale .most-item:nth-child(odd) {
        margin-right: 2%;
    }
    .most-item-sale .most-item:nth-child(even) {
        margin-left: 2%;
    }

    .most-item-sale .most-item img {
        width: 100%;
    }

    .liner {
        font-size: 19px;
        margin: 20px auto 10px;
    }

    .senn .blue,
    .seap .blue,
    .owls .blue {
        top: 25px;
    }

    .parag .slick-list {
        padding: 0 10px 0 0;
    }

    .parag {
        height: 45px;
    }

    .parag-item {
        text-align: center;
        padding: 6px 0;
    }

    .parag .slick-prev,
    .parag .slick-next {
        position: absolute;
        top: 45%;
        z-index: 10;
    }

    .parag .slick-list {
        width: 85%;
    }

    .parag .slick-prev {
        left: auto;
        right: 50px;
    }

    .parag .slick-next {
        right: 5px;
    }

    .banny {
        height: 200px;
        margin: 25px auto;
        width: 95%;

    }

    .banny-text {
        width: 375px;
        padding-left: 30px;
    }

    .banny-img {
        width: calc(100% - 410px);
        padding: 0;
    }

    .banny-img img:first-child {
        display: none;
    }

    .banny-img img:last-child {
        display: inline;
    }

    .banny .ad-blue {
        font-size: 12px;
        padding: 0;
    }

    .banny .ad-cheaper {
        font-size: 27px;
    }

    .banny .khob,
    .igyy .khob {
        width: 135px;
        height: 35px;
        font-size: 14px;
    }

    .banny .khob:after,
    .igyy .khob:after {
        background: url("./../img/arrow-right.png") center no-repeat;
    }

    .senn-main,
    .iteem-mainy {
        margin: 0;
    }

    .senn-main {
        padding: 0;
    }

    .watched-slider .item-senn:nth-child(4),
    .watched-slider .item-senn:nth-child(6),
    .slick-slide {
        margin: 5px 0 57px;
    }

    .owls {
        margin: 0 auto 20px;
    }
    .owls .formu,
    .owl-slide .items {
        display: none;
    }
    .owl-slide .items:nth-child(-n + 4) {
        display: block;
    }

    .owl .formu {
        display: block;
        padding: 25px 10px !important;
    }

    .owl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    /*.owl .items > img {*/
    /*width: auto;*/
    /*}*/

    /*.owl .slick-prev,*/
    /*.owl .slick-next {*/
    /*position: absolute;*/
    /*top: auto;*/
    /*bottom: 29%;*/
    /*z-index: 10;*/
    /*}*/

    /*.owl .slick-next {*/
    /*right: 10px;*/
    /*}*/

    /*.owl .slick-prev {*/
    /*left: 10px;*/
    /*}*/

    .owl .items {
        padding: 0 10px;
        width: 47%;
        margin: 5px 0 0;
    }

    .owl .items a > img {
        width: 100%;
    }

    .moreLink {
        font: 14px 'SFUIDisplay-Medium';
        color: #53a2d3;
        display: inline;
    }

    .equip {
        padding: 0 0 30px;
    }

    .orig {
        height: 380px;
    }

    .orii {
        flex-wrap: wrap;
        height: auto;
    }

    .orig-item {
        height: 135px;
        padding: 0 60px;
        width: calc(50% - 121px);
        width: -moz-calc(50% - 121px);
        width: -webkit-calc(50% - 121px);
    }

    .orig-item:nth-child(1) {
        border-bottom: 1px solid #eaeaea;
    }

    .orig-item:nth-child(2) {
        border-right: 0;
        border-bottom: 1px solid #eaeaea;
    }

    .bonus-score {
        height: 130px;
    }

    .score {
        flex-wrap: wrap;
        height: inherit;
        padding: 10px 0;

    }

    .item-score:nth-child(1) {
        font-size: 18px;
        width: 30%;
    }

    .item-score:nth-child(2) p {
        font-family: 'SFUIDisplay-Bold';
        margin-top: 10px;

    }

    .item-score:nth-child(2) {
        width: 57%;
        font-size: 16px;
        text-align: right;
        margin: 0;
        letter-spacing: 0;
    }

    .item-score:nth-child(2) span {
        font-size: 45px;
        position: static;
    }

    .item-score:last-child {
        width: 100%;
    }

    .item-score:nth-child(3) .inpp {
        width: inherit;
    }

    .item-score:nth-child(3) .inpp input {
        width: calc(100% - 153px);
        font-size: 14px;
    }

    .item-score:nth-child(3) .send {
        height: 48px;
    }

    .item-score:nth-child(1):after {
        background: url(../img/po4ta.svg) center no-repeat;
        top: 3px;
        background-size: 40px;
    }

    .senn-slik {
        display: none;
    }

    .slick-ipad {
        display: inline-block;
        width: 100%;
    }

    .slide-item .item-senn,
    .maii .item-senn:nth-child(2),
    .senn-main .item-senn:nth-child(1),
    .senn-main .item-senn:nth-child(5) {
        width: 45%;
        height: 409px;
        display: flex;
        margin: 30px auto;
        flex-direction: column;
    }

    .slide-item {
        display: flex !important;
        flex-wrap: wrap;
    }

    .maii .item-senn:nth-child(2) .centr {
        height: 235px;
    }

    .slide-item:nth-child(odd) .item-senn .centr {
        height: 643px;
    }

    .slide-item:nth-child(odd) .item-senn:nth-child(2) {
        display: none;
    }

    .slide-item:nth-child(odd) .item-senn {
        height: 827px;
        width: 663px;
    }

    .slick-ipad .slick-prev,
    .slick-ipad .slick-next {
        position: absolute;
        top: 48.5%;

    }

    .slick-ipad .slick-next {
        right: 10px;
    }

    .slick-ipad .slick-prev {
        left: 10px;
        z-index: 10;
    }

    .maii .item-senn:nth-child(2) .bakk {
        margin: 4px 0 0;
    }

    .maii .item-senn:nth-child(2) .sench {
        width: auto;
    }

    .hate .ityy {
        margin: 5px auto;
    }

    .hate .ityy:nth-child(even) {
        margin-top: 40px;
    }

    .hate .slick-prev, .hate .slick-next {
        top: 50%;
    }

    .ityy {
        width: 740px;
    }

    .right-iteem {
        width: 370px;
    }

    /*---------footer -----*/
    .doww {
        right: 50px;
    }

    .footers {
        height: 615px;
    }

    .foot {
        margin: 53px 0 0 0;
    }

    .foot .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-foot:nth-child(1) {
        width: 180px;
        margin: 0px 70px 0 0;
    }

    .item-foot:nth-child(1) p {
        font-size: 15px;
        letter-spacing: 0;
        margin: 40px 0 13px;

    }

    .item-foot:nth-child(1) .rights-security {
        display: none;
    }

    .item-foot:nth-child(4) .rights-security {
        display: block;
        font-size: 11px;
        font-family: 'SF-UI-Display-Light';
        margin-top: 25px;
    }

    .rights-security b {
        font-family: 'SFUIDisplay-Bold';
        font-weight: 900;
    }

    .item-foot:nth-child(2) p,
    .item-foot:nth-child(3) p {
        font-size: 19px;
        margin: 0 0 10px;
    }

    .item-foot:nth-child(2) ul li a,
    .item-foot:nth-child(3) ul li a {
        height: 25px;
        font-size: 16px;
    }

    .item-foot:nth-child(1) span {
        margin: 0;
    }

    .item-foot:nth-child(2) {
        width: 138px;
        margin: 0 70px 0 0;
    }

    .item-foot:nth-child(3) {
        width: 230px;
        margin: 0;
    }

    .item-foot:last-child {
        display: flex;
        margin-top: 32px;
        position: relative;
        width: 100%;
        justify-content: center;
    }

    .adree {
        margin: 0;
    }

    .call:after {
        display: none;
    }

    .call {
        margin: 0 60px 0 0;
    }

    .call p {
        font-size: 13px;
        color: #787e84;
    }

    .call span {
        font-size: 18px;
        line-height: 20px;
    }

    .adree p {
        margin: 0 0 16px;

    }

    .adree span {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-right: 55px;
        width: 215px;
    }

    .fresh {
        top: 57px;
    }

    /*------- question----*/
    .left-banner {
        width: 250px;
    }

    .right-banner {
        width: calc(100% - 270px);
    }

    .left-banner .head-item {
        margin: 0 auto 17px auto;
    }

    .left-banner .head-item {
        width: 65%;
    }

    .left-banner .slider-text span {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;

    }

    .left-banner .slider-text {
        font-size: 12px;
        line-height: 15px;
    }

    .accordion .accordion_item {
        margin-bottom: 1px;
        padding-left: 20px;
    }

    .accordion .title_block {
        font-size: 14px;
    }

    .say-question a {
        font-size: 12px;
    }

    .say-question {
        padding: 22px 0px 0 0px;
    }

    .say-question span {
        padding-right: 12px;
    }

    /*-------- contacts------*/

    .guarantee-tree-column {
        flex-wrap: wrap;
    }

    .guarantee-tree-column > div {
        width: 49%;
    }

    .guarantee-tree-column > div:last-child {
        width: 100%;
        margin-top: -20px;
    }

    .guarantee-tree-column > div:last-child ul.long-list li {
        width: 45%;
    }

    .guarantee-tree-column > div:last-child ul.long-list li:nth-child(odd) {
        padding-right: 40px;
    }

    ul.long-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .guarantee-tree-column > div li p {
        line-height: 21px;
        font-size: 13px;
    }

    .guarantee-tree-column .long-list a:hover,
    .long-list a {
        text-decoration: none;
        color: #313e49;
    }

    ul.long-list,
    .guarantee-page ul.long-list {
        font-size: 12px;
        padding-left: 30px;
        line-height: 21px;
    }
}

@media screen and (max-width: 767px) {
    .most-item-sale .most-item:nth-child(2),
    .hedd,
    .menu,
    .banny .khob,
    .banny .ad-blue,
    .item-foot:nth-child(2),
    .item-foot:nth-child(3),
    .item-foot:nth-child(4) .rights-security {
        display: none;
    }

    .container {
        margin-top: 45px;
    }

    .wrap {
        width: 94%;
    }

    .headers {
        background: #fbd402;
        position: fixed;
        width: 100%;
        z-index: 25;
        top: 0;
    }

    .menu-mob {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    .menu-mob .burgerBtn {
        height: 16px;
        top: 11px;
        right: 16px;
    }

    .burgerBtn span {
        margin-top: 7px;
    }

    .menu-mob .burgerBtn span,
    .menu-mob .burgerBtn span::before,
    .menu-mob .burgerBtn span::after {
        background: #313e49;
    }

    .mobile-menu-all .burgerBtn span {
        background: transparent;
    }

    .mobile-menu-all .burgerBtn span::before {
        transform: rotate(-45deg);
        top: 7px;
    }

    .mobile-menu-all .burgerBtn span::after {
        transform: rotate(45deg);
        top: 7px;
    }

    .head-item:nth-child(1) {
        width: 84px;
        padding-right: 0;
        margin-right: 20px;
    }

    .menu-mob .iteem:nth-child(2) {
        width: 60%;
        padding-right: 5px;
    }

    .menu-mob .iteem:nth-child(3) {
        width: auto;
    }

    .menu-mob .iteem:last-child {
        width: 50px;
    }

    .iteem-menu.mobile-menu-all nav {
        max-height: 1000px;
        height: 100vh;
    }

    .iteem-menu nav {
        display: block !important;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        max-height: 0;
        overflow: hidden;
        background: #f9f9f9;
        z-index: 20;
        -webkit-transition: max-height 0.5s, height .5s;
        -moz-transition: max-height 0.5s, height .5s;
        transition: max-height 0.5s, height .5s;
    }

    .bask-item {
        width: 60px;
        justify-content: flex-start;
    }

    .iteem:nth-child(2) .inpp input {
        padding: 5px 0 5px 10px;
    }

    .slide-item .item-senn,
    .maii .item-senn:nth-child(2),
    .senn-main .item-senn:nth-child(1),
    .senn-main .item-senn:nth-child(5) {
        margin: 20px auto;
    }

    .watched-slider .slick-slide {
        margin: 5px 0 50px;
    }
    .slick-slide {
        margin: 5px 0;
    }

    .most-item-slider .most-item:nth-child(1) {
        height: 100%;
    }

    .igyy img {
        width: 100%;
    }

    .ourr .slick-slide {
        height: 100%;
    }

    .most-item-sale .most-item {
        width: 100%;
        justify-content: center;
    }

    .most-item-sale .most-item img {
        width: 100%;
        height: auto;
    }

    .ourr {
        margin: 27px auto;
    }

    .parag .slick-list {
        width: 76%;
    }

    .liner {
        font-size: 16px;
        margin: 15px auto 8px;
        line-height: 20px;
        text-align: left;
    }

    .senn .blue,
    .owls .blue,
    .seap .blue {
        right: 20px;
        top: 2px;
    }


    .small-product .blue {
        top: -10px;
    }

    .banny {
        height: 110px;
        width: 95%;
    }

    .banny-text {
        width: 145px;
        padding: 20px 0 0 10px;
    }

    .banny-img {
        width: 200px;
        float: right;
    }

    .banny-img img:last-child {
        width: 100%;
    }

    .banny .ad-cheaper {
        font-size: 15px;
    }

    .blue {
        font-size: 12px;
    }

    .parag-item.active {
        letter-spacing: 0;
    }

    .khob:after {
        right: 20px;
        background: url(../img/rigs-mini.png) center no-repeat;
    }

    .khob {
        width: 130px;
        height: 37px;
        border-radius: 47px;
        font-size: 13px;
        bottom: 27%;
        left: 20px;
    }

    .searc {
        height: 27px;
    }

    .baskets .imgg {
        height: 28px;
    }

    .bask-item:hover {
        margin: -5px 0;
    }

    .baskets:hover .imgg {
        background-size: 30px;
    }

    .numeral {
        width: 18px;
        height: 18px;
        position: absolute;
        right: -9px;
        top: -5px;
    }

    .banny-img {
        width: 160px;
    }

    .orig {
        margin-bottom: 20px;
    }

    .banny-text {
        width: 125px;
    }

    .banny .ad-cheaper {
        font-size: 13px;
    }

    .banny {
        height: 85px;
    }

    .orig-item {
        padding: 0 20px;
    }

    .fresh {
        left: -10px;
    }

    .owl .items:nth-child(2),
    .owl .items:nth-child(3) {
        display: none;
    }

    .owl .items {
        width: 100%;
    }
    /*.owl .slick-prev, .owl .slick-next {*/
    /*bottom: 26%;*/
    /*}*/

    article p {
        font-size: 14px;
    }

    .orig {
        height: 610px;
        margin-bottom: 0;
    }

    .orii {
        flex-direction: column;
    }

    .orig-item {
        width: fill-available;
        width: -moz-fill-available;
        width: -o-fill-available;
        width: -webkit-fill-available;
        border-right: none;
    }

    .orig-item:nth-child(3) {
        border-bottom: 1px solid #eaeaea;
    }

    .bonus-score {
        height: 165px;
    }

    .item-score:nth-child(1):after {
        width: 40px;
        height: 40px;
        top: 11px;
        background-size: 32px;
    }

    .item-score:nth-child(3) .send {
        height: 38px;
    }

    .item-score:nth-child(1) {
        font-size: 16px;
        padding: 0 0 0 55px;
        width: 100%;

    }

    .item-score:nth-child(2) {
        width: 100%;
        text-align: center;
        margin: -15px 0 0 0;

    }

    .item-score:nth-child(2) span {
        font-size: 35px;
    }

    .crop {
        margin: 0;

    }

    .crop-item {
        width: calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        margin: 0px 10px 0;
    }

    .crop-item p {
        font-size: 13px;
        margin: 14px 0 10px;
    }

    h4 {
        font-size: 13px;
    }

    .senn-main {
        padding: 0;
        margin: 0;
    }

    .slick-ipad .slick-prev,
    .slick-ipad .slick-next {
        position: absolute;
        top: 47.5%;
    }

    .slick-ipad .slick-next {
        right: 5px;
    }

    .slick-ipad .slick-prev {
        left: 5px;
    }

    .slide-item:nth-child(odd) .item-senn:nth-child(2) {
        display: flex;
    }

    .slide-item:nth-child(odd) .item-senn:nth-child(1),
    .slide-item:nth-child(odd) .item-senn:nth-child(2) {
        height: 409px;
        width: calc(100% - 10px);
    }

    .slide-item:nth-child(odd) .item-senn .centr {
        height: 235px;
    }

    .slide-item .item-senn,
    .maii .item-senn:nth-child(2),
    .senn-main .item-senn:nth-child(1),
    .senn-main .item-senn:nth-child(5) {
        width: 48%;
    }

    .slick-ipad .itee-imgg img {
        height: 100%;
    }

    .home-page .itee-imgg img {
        width: 100%;
    }

    .maii .item-senn:nth-child(2) .sench,
    .sench {
        padding: 20px 16px;
        width: calc(100% - 32px);
    }

    .slick-ipad .otzv {
        display: none;
    }

    .slick-ipad .item-senn {
        text-align: center;
    }

    .news {
        width: calc(100% - 36px);
    }

    .senn-main .news a {
        font-size: 10px;
    }

    .senn-main .right-butt a {
        margin: 0 0 0 30px;
    }

    .senn-main .left-butt a {
        margin: 0 0 0 20px;
    }

    .item-senn:after {
        left: 10px;
        width: calc(100% - 20px);
    }

    .left-bakk {
        width: 100%;
    }

    .right-bakk {
        display: none
    }

    .hate .ityy:nth-child(2) {
        display: none;
    }

    .ityy {
        width: 100%;
    }

    .left-iteem {
        width: 290px;
    }

    .right-iteem {
        width: 345px;
    }


    .items h4 {
        font-size: 12px;
    }

    .clock p {
        margin: 0;
    }

    .guarantee-tree-column > div {
        width: 100%;
        padding-left: 20px;
    }

    .guarantee-tree-column > div:last-child ul.long-list li {
        width: inherit;
    }

    .guarantee-tree-column > div:last-child ul.long-list li p,
    .one-content p,
    .text-icon-left-right p {
        font-size: 13px;
        line-height: 20px;
    }

    /*------footer--------*/
    .footers {
        height: 522px;
    }

    .foot {
        margin: 38px 0 0 0;
    }

    .item-foot:nth-child(1) .rights-security {
        display: block;
        font-size: 9px;
        font-family: 'SF-UI-Display-Light';
        margin-top: 65px;
    }

    .foot .container {
        flex-wrap: nowrap;
        justify-content: center;

    }

    .item-foot:last-child {
        width: 200px;
        margin-top: 0;
        flex-direction: column;
    }

    .item-foot:nth-child(1) {
        width: 155px;
        margin: 0px 25px 0 0;
    }

    .item-foot:nth-child(1) > img {
        height: 60px;
    }

    .item-foot:nth-child(1) p {
        font-size: 12px;
        margin: 18px 0 10px;
    }

    .item-score:nth-child(2) {
        font-weight: normal;
    }

    .inpp input {
        padding: 10px 0 10px 27px;
    }

    .linky {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }

    .item-foot:nth-child(1) {
        width: 155px;
        margin: 0px 15px 0 0;

    }

    .item-foot:nth-child(1) p {
        margin: 38px 0 8px;
        white-space: pre-line;

    }

    .adree {
        margin: -3px 0;
    }

    .adree span {
        font-size: 13px;
        width: 190px;
        padding-right: 0;

    }

    .call span {
        font-size: 14px;
        line-height: 16px;

    }

    .call p {
        font-size: 13px;
    }

    .adree p {
        font-family: 'SFUIDisplay-Bold';
        font-size: 12px;
        margin: 25px 0 5px;
    }

    .call {
        width: 100%;
        margin: -15px 60px 10px 0;
    }

    .fresh {
        top: 20px;
        left: 3px;
    }

    .left-banner {
        display: none;
    }

    .right-banner {
        width: 100%;
    }

    #popup .popup-inner {
        width: -webkit-fill-available;
        width: fill-available;
        top: 0;
    }

    .popup-inner {
        height: 100%;
        padding: 30px 23px 0;

    }

    #popup .popup-block {
        width: 100%;
        display: block;
    }

    #popup .popup-block:last-child {
        text-align: left;
    }

    #popup p {
        padding: 10px 0 6px 30px;
    }

    #popup .button {
        margin-top: 10px;
    }

    #popup input,
    #popup .button,
    #popup textarea {
        width: -webkit-fill-available;
        width: fill-available;
        width: -moz-fill-available;
    }

}

@media screen and (max-width: 639px) {
    .hate .ityy {
        justify-content: center;
        width: 100%;
    }

    .hate .slick-prev,
    .hate .slick-next {
        top: 50%;
    }

    .ityy > a {
        flex-direction: column;
    }

    .left-iteem {
        width: 275px;
        margin: 0 auto;

    }

    .right-iteem {
        width: 100%;
        height: 290px;
    }

    .right-times {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .head-item:nth-child(1) {
        margin-right: 5px;
    }

    .enter {
        display: block;
    }

    .say-question span {
        line-height: 15px;
        display: inline-block;
    }

    .accordion .info-accord p {
        line-height: 21px;
    }

    .say-question a {
        font-size: 12px;
        position: relative;
        top: -8px;
    }

}

@media screen and (max-width: 405px) {
    .say-question span {
        display: block;
    }

    .say-question {
        float: left;
        width: 100%;
        text-align: center;
    }

    .say-question a {
        top: 15px;
    }

    .seap .blue:after {
        top: 3px;
    }

    .blue {
        font-size: 11px;
    }

    .moreLink {
        font-size: 12px;
    }

    .orig-item {
        height: 125px;
    }

    article p {
        font-size: 13px;
    }

    .crop-item p {
        font-size: 11px;
    }

    .orig-item p {
        font-size: 12px;
    }

    .orig-item p span {
        font-size: 15px;
    }

    .khob {
        width: 130px;
        height: 37px;

        left: 10px;
    }

    h4 {
        font-size: 12px;
    }

    .item-score:nth-child(2) span {
        font-size: 27px;
    }

    .item-foot:nth-child(1) > img {
        height: 55px;
    }

    .linky {
        width: 32px;
        height: 32px;
        margin: 0 10px 0 0;
    }

    .item-foot:nth-child(1) .rights-security {
        font-size: 8px;
    }

    .item-foot:nth-child(1) p {
        margin: 57px 0 8px;
    }

    .item-foot:nth-child(1) p,
    .adree p {
        font-size: 11px;
    }

    .item-score:nth-child(2) {
        font-size: 1em;
    }
}

@media screen and (max-width: 380px) {
    .liner {
        font-size: 15px;
    }

    .parag-item {
        font-size: 13px;
    }

    .ityy > a {
        width: inherit;
    }

    .iteem-mainy {
        margin: 0;
    }

    .hate .itee-imgg img {
        height: 100%;
    }

    .right-iteem {
        width: 95%;
        margin: 0 auto;
    }

    .circ {
        height: 35px;
        width: 35px;
    }

    .timer {
        font-size: 12px;
        width: 200px;

    }

    .timm:nth-child(1) {
        margin: 0 2px 0 0;
    }

    .timm {
        margin: 0 2px;
    }

    .bask {
        font-size: 12px;
        width: 105px;
        height: 35px;
    }

    .equip {
        padding: 0 0 30px;
    }

    .item-score:nth-child(2) {
        font-size: .8em;
    }

    .call {
        margin: -2px 60px 10px 0;
    }
}

@media screen and (max-width: 350px) {
    .parag .slick-list {
        width: 74%;
    }

    .parag-item {
        font-size: 12px;
    }

    .liner {
        font-size: 12px;
    }

    .senn-main .news a {
        font-size: 8px;
    }

    .timer {
        width: 185px;
    }

    .item-foot:last-child {
        width: 160px;
    }

    h4 {
        font-size: 11px;
        line-height: 17px;
    }

    .itee {
        width: 70px;
        height: 30px;
    }

    .itee img {
        margin: 0 0px 0 2px;
    }

    .itee p {

        font-size: 10px;
        line-height: 11px;
    }

    .present {
        height: 107px;
    }

    .watched-slider .slick-slide {
        margin: 5px 0 65px;
    }

    /*.owl .slick-prev, .owl .slick-next {*/
    /*bottom: 28%;*/
    /*}*/
    .guarantee-tree-column > div {
        padding-left: 0;
    }

    .guarantee-tree-column > div:last-child ul.long-list li p,
    .one-content p,
    .text-icon-left-right p {
        font-size: 12px;
        line-height: 20px;
    }

    .adree span {
        font-size: 11px;
        width: inherit;
    }

    .call p {
        font-size: 11px;
    }

    .fresh {
        left: -10px;
    }
}