@media screen and (max-width: 1600px) {
    .container {
        width: 97%;

    }

}

@media screen and (max-width: 1150px) {
    .accordion .title_block {
        font-size: 15px;
    }

    .accordion .info-accord p {
        font-size: 13px;
    }

    .accordion .info-accord a {
        font-size: 13px;
    }

    .say-question span {
        font-size: 11px;
    }
}

@media screen and (max-width: 980px) {
    .left-banner {
        width: 250px;
    }

    .right-banner {
        width: calc(100% - 270px);
    }

    .left-banner .head-item {
        margin: 0 auto 17px auto;
    }

    .left-banner .head-item {
        width: 65%;
    }

    .left-banner .slider-text span {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;

    }

    .left-banner .slider-text {
        font-size: 12px;
        line-height: 15px;
    }

    .accordion .accordion_item {
        margin-bottom: 1px;
        padding-left: 20px;
    }

    .accordion .title_block {
        font-size: 14px;
    }

    .say-question a {
        font-size: 12px;
    }

    .say-question {
        padding: 22px 0px 0 0px;
    }

    .say-question span {
        padding-right: 12px;
    }
}

@media screen and (max-width: 768px) {
    .left-banner {
        display: none;
    }

    .right-banner {
        width: 100%;
    }

    #popup .popup-inner {
        width: -webkit-fill-available;
        top: 7%;
    }

    .popup-inner {
        height: auto;
    }

    #popup .popup-block {
        width: 100%;
        display: block;
    }

    #popup .popup-block:last-child {
        text-align: left;
    }

    #popup p {
        padding: 10px 0 6px 30px;
    }

    #popup .button {
        margin-top: 10px;
    }

    #popup input,
    #popup .button,
    #popup textarea {
        width: -webkit-fill-available;
    }

}

@media screen and (max-width: 500px) {
    .enter {
        display: block;
    }

    .say-question span {
        line-height: 15px;
        display: inline-block;
    }

    .accordion .info-accord p {
        line-height: 21px;
    }

    .say-question a {
        font-size: 12px;
        position: relative;
        top: -8px;
    }

}

@media screen and (max-width: 345px) {
    .say-question span {
        display: block;
    }

    .say-question {
        float: left;
        width: 100%;
        text-align: center;
    }

    .say-question a {
        top: 15px;
    }
}

